name: Backend CI

on:
  pull_request:
    paths:
      - "color-manager/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: color-manager

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: Do linting
        run: mvn verify -B -Ddo.linting

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
    
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: color-manager

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: init projeect
        working-directory: ..
        run: ./project-init.sh
      - name: Do tests
        run: mvn verify -B