name: Frontend CI

on:
  pull_request:
    paths:
      - "color-angular-frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: color-angular-frontend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run build

  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: color-angular-frontend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run lint
      - run: npm run prettier

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: color-angular-frontend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run test
